body {
	background-image: url(../Images/debian.jpg);
	margin-left: 0%; 
	margin-top: 0%; 
	margin-right: 0%; 
	margin-bottom: 0%; 
	width:1905px;
}


h1 {
	color: white;
	font-family: Arial Black, Geneva, sans-serif;
	width: 600px;
	margin-left: 350px;
	margin-top: -50px;

}

h2 {
	font-size: 400%;
	color: white;
	font-family: Arial Black, Geneva, sans-serif;
	width: 600px;
	margin-left: 890px;
	margin-top: -20px;

}

h3 {
	font-size: 400%;
	margin-left: 860px;
	margin-top: -80px;
	color: white;

}

h4 {
	font-size: 200%;
	margin-left: 730px;
	margin-top: -60px;
	color: white;

}

h5 {
	font-size: 230%;
	margin-left: 820px;
	margin-top: -700px;
    color: #2a3b58;
    font-family: Arial Black, Geneva, sans-serif;

}


ul {
    list-style-type: none;
    margin-left: 1100px;
    margin-top: -76px;
    padding: 0;
    overflow: hidden;
    background-color: #0e3258;
    width: 600px;
    height: 50px;
    font-family: Arial Black, Geneva, sans-serif;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
}



#bande1 {
	
	height: 70px; 
	width: 2000px;
	background-color: #0a2239;

}

#bande2 {
	width: 1920px;
	height: 800px; 
	background-image: url(../Images/fleur.png);
	background-repeat:no-repeat;


}


#bande3 {
	width: 1920px;
	position: relative;
	height: 765px;
	background-image: url(../Images/blueflower.jpg);
	background-repeat:no-repeat;
}

#bande4 {
	width: 1920px;
	position: relative;
	height: 765px;
	background-image: url(../Images/bleufleur.png);
	background-repeat:no-repeat;

}

#bande5 {
	position: relative;
	height: 885px;
	width: 1900px;
	background-image: url(../Images/debian.jpeg);
	background-repeat:no-repeat;
}

#bande6 {
	position: relative;
	height: 885px;
	width: 1920px;
	background-image: url(../Images/white.jpg);
	background-repeat:no-repeat;	
}


#IT {
	position:absolute; 
	bottom:0;
	margin-left: 700px;
	margin-bottom: 400px;
	height: 200px;
	font-family: Arial Black, Geneva, sans-serif;
	color: white;
	font-size: 40px;

}

#Membres {
	position:absolute; 
	bottom:0;
	margin-left: 600px;
	margin-bottom: 400px;
	height: 200px;
	font-family: Arial Black, Geneva, sans-serif;
	color: #333333;
	font-size: 40px;


}


#menu {

	z-index: 9;
}

#cod {
	position:absolute; 
	bottom:0;
	margin-left: 900px;
	margin-bottom: 550px;
	height: 200px;
	font-family: Arial Black, Geneva, sans-serif;
	color: white;
	font-size: 40px;

}

#photo {
	position:absolute; 
	bottom:0;
	margin-left: 680px;
	margin-bottom: 550px;
	height: 200px;
	font-family: Arial Black, Geneva, sans-serif;
	color: #2a3b58;
	font-size: 40px;
}


img.Geeko {
	margin-left: 740px;
	margin-top: 100px;
	

	
}

img.balance {
 	margin-left: 650px;
  	margin-top: 350px;

}

img.dossier {
	
	margin-left: 300px;

}

img.tele {
	
	height: 600px;
	margin-left: 870px;
  	margin-top: 300px;

}

img.ecalt {

	margin-left: -500px;
}

img.people {

	margin-left: 700px;
	margin-top: 350px;
	height: 400px;
}

img.cod {
	margin-left: 700px;
	margin-top: 350px;
}

img.moi {
	margin-left: 700px;
	margin-top: 350px;
	size: 50%;
}



@media only screen and (max-width:800px){ 
 body {
width: 800px;

 }

h1 {
	color: white;
	font-family: Arial Black, Geneva, sans-serif;
	width: 200px;
	margin-left: 20px;
	margin-top: -50px;
	font-size: 20px;

}

ul{
	margin-left: 160px;
	margin-top: -50px;
}

img.Geeko {
	margin-left: 100px;
	margin-top: 100px;
}

h2 {
	font-size: 400%;
	color: white;
	font-family: Arial Black, Geneva, sans-serif;
	width: 600px;
	margin-left: 290px;
	margin-top: -20px;

}

h3 {
	font-size: 400%;
	margin-left: 260px;
	margin-top: -80px;
	color: white;

}

h4 {
	font-size: 200%;
	margin-left: 150px;
	margin-top: -60px;
	color: white;

}


h5 {
	font-size: 230%;
	margin-left: 150px;
	margin-top: -700px;
    color: #2a3b58;
    font-family: Arial Black, Geneva, sans-serif;

}


#bande1 {
	
	height: 70px; 
	width: 900px;
	background-color: #0a2239;

}

#bande2 {
	
	height: 800px; 
	width: 900px;
	background-image: url(../Images/fleur.png);
	background-repeat:no-repeat;


}


#bande3 {

	position: relative;
	height: 765px;
	width: 900px;
	background-image: url(../Images/blueflower.jpg);
	background-repeat:no-repeat;
}

#bande4 {
	position: relative;
	height: 765px;
	width: 900px;
	background-image: url(../Images/bleufleur.png);
	background-repeat:no-repeat;

}

#bande5 {
	position: relative;
	height: 885px;
	width: 900px;
	background-repeat:no-repeat;
}

#bande6 {
	position: relative;
	height: 885px;
	width: 900px;
	background-image: url(../Images/white.jpg);
	background-repeat:no-repeat;	
}


#IT {
	position:absolute; 
	bottom:0;
	margin-left: 200px;
	margin-bottom: 400px;
	height: 200px;
	font-family: Arial Black, Geneva, sans-serif;
	color: white;
	font-size: 40px;

}

#Membres {
	position:absolute; 
	bottom:0;
	margin-left: 200px;
	margin-bottom: 400px;
	height: 200px;
	font-family: Arial Black, Geneva, sans-serif;
	color: #333333;
	font-size: 40px;


}


#menu {

	z-index: 9;
}

#cod {
	position:absolute; 
	bottom:0;
	margin-left: 200px;
	margin-bottom: 550px;
	height: 200px;
	font-family: Arial Black, Geneva, sans-serif;
	color: white;
	font-size: 40px;

}

#photo {
	position:absolute; 
	bottom:0;
	margin-left: 180px;
	margin-bottom: 550px;
	height: 200px;
	font-family: Arial Black, Geneva, sans-serif;
	color: #2a3b58;
	font-size: 40px;
}


img.Geeko {
	margin-left: 130px;
	margin-top: 100px;
	

	
}

img.balance {
 	margin-left: 450px;
  	margin-top: 350px;

}

img.dossier {
	
	margin-left: 100px;
	margin-top: -300px;
}

img.tele {
	
	height: 600px;
	margin-left: 270px;
  	margin-top: 300px;

}

img.ecalt {

	margin-left: -500px;
}

img.people {

	margin-left: 150px;
	margin-top: 350px;
	height: 400px;
}

img.cod {
	margin-left: 70px;
	margin-top: 350px;
}

img.moi {
	margin-left: 50px;
	margin-top: 350px;
	size: 50%;
}



