body {
	background-image: url(../Images/debian.jpg);
	margin-left: 0%; 
	margin-top: 0%; 
	margin-right: 0%; 
	margin-bottom: 0%; 
	width: 1905px;
	

}

#boite1 {
	    margin-left: 600px;
		margin-top: 80px;
		border: solid;
		width: 700px;
		height: 770px;
		background-image: url("../Images/violet.jpg");
}

#texte {
	color: #333333;
	font-family: Arial Black, Geneva, sans-serif;
	font-size: 170%;
	margin-left: 80px;
	margin-bottom: : 300px;
}

h1 {
	color: #333333;
	font-family: Arial Black, Geneva, sans-serif;
	width: 600px;
	margin-left: 80px;
	margin-bottom: : 300px;
}

h2 {
	color: white;
	font-family: Arial Black, Geneva, sans-serif;
	width: 650px;
	margin-left: 45px;
	margin-top: 50px;


}

h3 {

	color: white;
	font-family: Arial Black, Geneva, sans-serif;
	width: 660px;
	margin-left: 45px;
	margin-top: 50px;
	font-size: 150%;

	

}

ul {
    list-style-type: none;
    margin-left: 1100px;
    margin-top: -76px;
    padding: 0;
    overflow: hidden;
    background-color: #0e3258;
    width: 90px;
    height: 50px;
    font-family: Arial Black, Geneva, sans-serif;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
}

h1 {
	color: white;
	font-family: Arial Black, Geneva, sans-serif;
	width: 600px;
	margin-left: 350px;
	margin-top: -50px;

}

#bande1 {
	
	height: 70px; 
	width: 2000px;
	background-color: #0a2239;

}

#menu {

	margin-top: -80px;
}

#boite1 {
	    margin-left: 550px;
		margin-top: 80px;
		border: solid;
		width: 700px;
		height: 770px;
		background-image: url("../Images/violet.jpg");
}

img.red {
	margin-left: -8px;
	margin-top: -20px;
}

@media only screen and (max-width:800px) {
 body {
 width: 800px;
 
 }

h1 {
	color: white;
	font-family: Arial Black, Geneva, sans-serif;
	width: 200px;
	margin-left: 20px;
	margin-top: -50px;
	font-size: 20px;

}

ul{
	margin-left: 160px;
	margin-top: -50px;
}
#boite1 {
	    margin-left: 50px;
		margin-top: 80px;
		border: solid;
		width: 700px;
		height: 770px;
		background-image: url("../Images/violet.jpg");
}
}



